.listContainer{
    display: flex;
    flex-direction: column;

    gap: 10px;

    margin: 20px;

    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.listCard{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 10px 15px 15px 15px;
    justify-content: space-between;

}
.listCardBlock{
    display: flex;
    gap :10px;
}
.avatar{
    border-radius: 20px;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: var(  --colors-text-dw-lg );
}
.nickname {
    color: var(--colors-button);
}
.alert{
    color: var(--colors-text-dw-lg);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
    gap: 20px;
}
.hidden{
    display: none;
}