.form{
    max-width: 345px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    position: relative;
    background-color: var(--white);
    border-radius: 10px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
}
.formControl{
    display: flex;
    flex-direction: column;
}
.labelContainer{
    display: flex;
    justify-content: space-between;
}
.label{
    color: var(--neutral-darkest-grey);

    font-weight: 800;
    font-size: 16px;

    text-transform: capitalize;

    margin-top: 20px;
}
.formInput{
    border: 1px solid var(--neutral-grey);
    border-radius: 5px;
  
    margin-top: 5px;
    padding: 15px;
  
    font-weight: bold;
  
    outline: none;
  
    width: 100%;
    color: var(--primary-dark-blue);
}
.formInput::placeholder{
    font-weight: 600;
    font-size: 14px;
    color:  var(--neutral-grey);
}

.error{
    color: var(--negative);
    font-weight: 800;
    font-size: 14px;
}
.label.succes {
    color: var(--positive);
    font-weight: bold;
  }
.formInput.error {
    color: var(--negative)  !important;
    border: 1px solid var(--negative);
}
  
.formInput.succes{
    color: var(--positive) !important;
    border: 1px solid var(--positive) ;
}

.submit{
    margin-top: 20px;
    border-radius: 20px;

    min-width: 100%;
    padding: 15px;


    background-color: var(--primary-dark-blue);
    color: var(--colors-text-dg-lw);

    cursor: pointer;
}
.sumbit:focus, .submit:hover {
    background-color: var(--colors-button);
}
.loginLink{
    display: flex;
    font-weight: 600;
    font-size: 16px;

    margin-top: 10px;

    justify-content: center;
    gap: 5px;
    color: var(--neutral-grey);
}
.loginLinkButton{
    color: var(--colors-button);
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
    margin-bottom: 40px;
}
.loginLinkButton:focus, .loginLinkButton:hover{
    color: var(--primary-light-blue);

}