.allAboutUser{
    position: relative;
    display: flex;
    flex-direction: column;
}
.personalInfo{
    padding:  20px 15px;
    position: relative;

    display: flex;
}
.personalInfo::after{
    content: "";
    left    : 15px;
    right: 15px;
    bottom  : 0;
    position: absolute;
    border-bottom: 1px solid var(--neutral-grey);
}
.img{
    border-radius: 35px;
}
.userInfo{
    margin-left: 15px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;

    color: var(--colors-text-dw-lg);

}
.email{
    margin-top: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;

    color: var(--colors-button);
}
.text{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    max-width: 230px;
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;

}
/* /////////////////////////////////////////// */

.listH3{
    margin-top: 15px;
    text-align: center;
    
}

.listContainer{
    display: flex;
    flex-direction: column;

    gap: 10px;

    margin: 20px;

    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.listCard{
    display: flex;
    gap: 20px;

    margin: 15px 15px 15px 15px;
    justify-content: space-between;

}
.listCardBlock{
    display: flex;
    gap :10px;
}
.avatar{
    border-radius: 20px;
}
.cardInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: var(--neutral-darkest-grey);
}
.nickname {
    color: var(--primary-blue);
}
.btnAdd{
    stroke: var(--positive);
    fill: var(--colors-text);
}
.btnAdd:focus, .btnAdd:hover{
    fill: var(--positive-light);
}
.btnDecline{
    stroke: var(--negative);
    fill: var(--colors-text);
}
.btnDecline:focus, .btnDecline:hover{
    fill: var(--negative-light);
}

.added{
    color: var(--colors-text);
    background-color: var(--positive);
    padding: 15px 5px;
    border-radius: 10px;
    font-weight: 400;
    font-size: small;
}