*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: transparent;
}
:root {
  /* Typography */
  --family-Mulish:'Mulish', sans-serif;

  --fs-12: 12px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-20: 20px;
  --fs-25: 25px;
  --fs-32: 32px;

  --fw-light: 300;
  --fw-500: 500;
  --fw-normal: 400;
  --fw-700: 700;
  --fw-bold: 800;

  /* Colors */
  --primary-darkest-blue: #093269;
  --primary-dark-blue: #1264D1;
  --primary-blue: #2F80ED;
  --primary-blue301: #82B3F4;
  --primary-light-blue: #ACCCF8;
  --primary-lightest-blue: #D5E6FB;

  --neutral-grey1000: #161F27;
  --neutral-grey900: #1F2933;
  --neutral-darkest-grey: #323F4B;
  --neutral-grey: #7B8794;
  --neutral-light-grey: #CBD2D9;
  --neutral-more-light-grey: #E4E7EB;
  --neutral-mostest-light-grey: #F5F7FA;
  --white:#FFFFFF;

  --warning-dark: #775E0D;
  --warning: #E7B820;
  --warning-light: #F3DB90;
  --warning-lightest: #F9EDC7;

  --negative-dark: #8D0909;
  --negative: #e02b2b;
  --negative-light: #F99C9C;
  --negative-lightest: #FCCECE;

  --positive-dark: #1A6234;
  --positive: #34C369;
  --positive-light: #97E3B3;
  --positive-lightest: #CBF1D9;
}

a:-webkit-any-link ,a:focus, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body, #root{
    height: 100%;
    line-height: 1;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

body[data-theme='dark'] {
  --colors-text: var(--neutral-light-grey);
  --colors-text-dg-lw: var(--neutral-darkest-grey);
  --colors-text-dw-lg: var(--white);

  --colors-button: var(--primary-blue301);

  --colors-msg: var(--neutral-grey);

  --colors-positive: var(--positive);

  --colors-bg: var(--neutral-grey900);
  --colors-bg1000: var(--neutral-grey1000);
  --colors-bg-controls: var(--neutral-grey900);
}

body[data-theme='light'] {
  --colors-text: var(--neutral-grey);
  --colors-text-dg-lw: var(--white);
  --colors-text-dw-lg: var(--neutral-darkest-grey);

  --colors-button: var(--primary-blue);

  --colors-msg: var(--neutral-more-light-grey);

  --colors-positive: var(--positive-dark);


  --colors-bg: var(--neutral-grey);
  --colors-bg1000: var(--white);
  --colors-bg-controls: var( --white);
}

body {
  margin: 0;
  font-family: var(--family-Mulish), sans-serif;
  color: var(--neutral-darkest-grey);
  font-weight: var(--fw-700);
  background-color: var(--colors-bg1000);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inProcess{
  display: flex;
  justify-content: center;
  flex-grow: 2;
  flex-shrink: 2;
  margin-top: 10px;
  width: 100%;
  height: 300px;
 
  background: url('../public/images/lock.svg') no-repeat center center;

}