.listBar{
    display: flex;
    justify-content: space-between;
    margin: 24px 15px ;
    max-width: 375px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 999; 
    background-color: var(--colors-bg-controls);
    border-top: 1px solid var(--colors-button);
    
}

.color{
    stroke: var(--neutral-grey);
}
.primary{
    stroke: var(--colors-button) !important;
    position: relative
}
.primary::before {
    content: '';
    top: 17px;
    left: 8px;
    width: 6px;
    height: 5px;
    position: absolute;
    border-bottom:2px solid  var(--colors-button);
    border-radius: 2px;
}